*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
/******************barra de navegacion******************* */
.header-main {
    min-height: 70vh;
}
.index {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.titulo{
    text-decoration: none;
    color: red;
    margin: 6px;
}
.navbar-nav a{
    color: red;
}
.navbar-nav a:hover{
    color: royalblue;
}





/* ***********separacion************** */


.separacion{
    margin-top:30px ;
    text-align: center;
    font-size: 3rem;
    

}



/* ***************card_adidas************* */

.container_card_adidas{
    display:flex ;
    margin: 40px 20px 30px 20px ;
    justify-content: space-between;
    flex-wrap: wrap;
        
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-bottom:10px;
    

}
.card h3{
    bottom:0;

}
.card p span{
    bottom: 0;
}
.card p{
    margin: 0 10px 0 10px ;
}

.card img{
    width: 200px;
    /* margin: 5px 5px 30px 5px; */
    margin: auto;    
}


/* *************whatsapp************** */
.enlace_whatsapp{
    position: fixed;
    bottom: 0;
    right: 30px;
}

.logo_whatsapp{
    width: 80px;
    

}











/*  **************footer***************  */

.footer1{
    /* background-color: blueviolet; */
    padding: 40px;
    width: 100%;
}
.footer1 h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer1 p{
    text-align: center;
}
.iconos_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.iconos_footer img{
    width: 50px;
    margin-left: 20px;
}