.nosotros h1{
    margin:0 0 20px 20px;
    text-align: center;
    
}  
.nosotros p{
margin:0 0 0 20px; 
}  
.ubicacion{
@include alineacion-column-centrado;
flex-direction: column;
text-align: center;
margin: 50px;
p{
    margin:  40px;
}
}