$colorrojo:red;
$colorhover:royalblue;
$colortablet:blueviolet;

$sombrastextos:0 0 0.2em #87F, 0 0 0.2em #87F,
0 0 0.2em #87F;

$fuenteprincipal:"Russo One", sans-serif; 

@mixin alineacion-column-centrado{
    display:flex;
    align-items: center;
    justify-content: center;
}