@import "variables";
@import "nosotros";
@import "productos";
@import "clientes";
@import "contacto";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuenteprincipal;
}
//****texto navbar*****



.index {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    container-fluid{
        margin-top: 30px;
        width: 100%;

    }
}
.navbar-nav{
    justify-content: center;
    align-items: center;
}
.titulo {
    text-decoration: none;
    color: $colorrojo;
    margin: 6px; 
}
.navbar-toggler{
    background-color: red;
    
}
.navbar-nav a{
    color:$colorrojo;
    &:hover{
        color: $colorhover;
    }
};
//***************sector imagen y presentacion de la web**************


.marca_texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
} 

.airmax{
    margin-top:-60px;
    margin-left: 25px;
    font-size: 4.1rem;
    position: absolute;
    z-index: 1;
    
}

#super{
    font-size: 1.5rem;
    position: absolute;
    color:$colorrojo;
    z-index: 2;
    font-style: italic;
    margin-top:-5px;
    margin-left: 30px;
}

.marca_texto p{
    position: relative;
    font-size: 0.5rem;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    z-index: 2;
} 

.imagen{
    position: relative;
    width: 100%;
    left: -5px;
    margin-top:100px ;
    z-index: 0;
}

@media (min-width:765px) {
    .airmax{
        color: $colortablet;
        margin-top: 60px;
        margin-left: 100px;
        font-size: 4em;
        display: flex;
        
    }
    #super{
        font-size: 3rem;
        position: absolute;
        color: $colorrojo;
        display: flex;
        z-index: 2;
        font-style: italic;
        margin-top: 100px;
        margin-left: 100px;
        width: 20%;
        
    }
    .marca_texto p{
        position: relative;
        font-size: 0.1rem;
        display: flex;
        margin-top: 250px;
        margin-left: 90px;
        z-index: 2;
    }
    .separacion{
        font-size: 50px;
    }
    .imagen{
        width: 100%;
        left: -2%;
        top: 20px;
    }
} 
 
@media (min-width:1005px) {
    .airmax{
        color: $colortablet;
        margin-top: 60px;
        margin-left: 100px;
        font-size: 6em;
        display: flex;
        
    }
    #super{
        font-size: 4rem;
        position: absolute;
        color:$colorrojo;
        display: flex;
        z-index: 2;
        font-style: italic;
        margin-top: 120px;
        margin-left: 140px;
        width: 20%;
        
    }
    .imagen{
        position: relative;
        width: 70%;
        margin-left: 20%;
        margin-top:-20px ;
        z-index: 0;
    } 
} 

//*************whatsapp************** */
.enlace_whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 8;


    .logo_whatsapp{
        width: 60px;
    }
}
// *************separacion********** */
.separacion{
    margin:5% 0 ;
    text-align: center;
    font-size: 3rem;
    color: black;
    text-shadow: $sombrastextos;

}
//**************card*************
.mas_vendidos{
    @include alineacion-column-centrado;
    flex-wrap: wrap;
    margin: 0 25px;
 
};
.card{
    @include alineacion-column-centrado;
    margin:10px 15px;
    .card-img-top{
        width: 80%;
        @include alineacion-column-centrado;
        
    };
    .card-body{
        text-align: center;
        
    }
    &:hover{
        transform: scale(1.1);
        border: 3px solid rgb(172, 165, 165)
    }
};
.card-text1 em{
    
    background-color: red;
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
    color: white;
    &:hover{
        color: white;
        background-color: blue;
        cursor: pointer;
   }
      
}


//****************galery**************

.container{
    padding: 75px 0;
    @include alineacion-column-centrado;
    
    flex-direction: column;
    width: 100%;
    

    p{
        margin: 20px;
        text-transform: uppercase; 
    }
    h2{
        position: relative;
        margin-bottom: 45px;
        /* font-family: 'Oswald', sans-serif; */
        font-size: 44px;
        text-transform: uppercase;
        color: #424242;
        text-align: center; 
    }

}
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80vh;

    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
    } 

}
.item-1 { 
    background-image: url("../img/galleria1.jpg");
    &:hover{
        flex: 8;
    }
}
.item-2 { 
    background-image: url("../img/galeria2.jpg");
    &:hover{
        flex: 8;
    }
}
.item-3 { 
    background-image: url("../img/galleria3.jpg");
    &:hover{
        flex: 8;
    }
}
@media (max-width:480px) {
    .gallery-wrap{
        margin-left: 5px;
        display: flex;
        flex-direction: column;
    }
}

//**************banner******************************
.promo_h2{
    margin:5% 0 ;
    text-align: center;
    font-size: 3rem;
    color: black;
    text-shadow: $sombrastextos;
}

.promo{
    display: flex;
    img{
        width: 50%;
    }
}

@media (max-width:480px) {
    .promo{
        @include alineacion-column-centrado;
        flex-direction: column;
        img{
            width: 80%;
        }

    }  
    .promo_h2{
        font-size: 2rem;
    } 
}
//****************flecha*************************
.arriba{
    @include alineacion-column-centrado;
    a{
        @include alineacion-column-centrado;
        border-radius: 20px;
        margin-top: 50px;
        padding: 8px;
        
        color: rgb(253, 5, 5);
        &:hover{
            color: rgb(12, 3, 247);
        }
    }
}
//*******footer***********

.footer{
    padding: 40px ;
    position: relative;
    bottom: 0;
    background-color: rgb(0, 2, 2);
    //margin:10px 50%;
    margin-top: 10%;
    .comunicate{
        color: red;
        text-transform: uppercase;
    }
    h3{
       text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: rgb(22, 6, 252)
    }
    p{
        //font-family: Arial, Helvetica, sans-serif;
        text-align: center;  
        color: rgb(107, 116, 242);
        letter-spacing: 5px;
    };
}
.iconos_footer{
    @include alineacion-column-centrado;
    
    a i{
        margin-left: 30px;
        margin-bottom: 30px;

    }
    
}
@media (max-width:480px) {
    .footer{
        font-size: 12px;
    }
}
//***************marcas separacion**************************


.marcas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 30px;
    .marcas_1 {
        display: flex;
        margin: 50px 30px;
        width: 30%;
        align-items: center;
        justify-content: center;
        img{
            width: 30%;
            margin: 20px;
        }
    }
    .marcas_2 {
        display: flex;
        margin: 50px 30px;
        width: 30%;
        align-items: center;
        justify-content: center;

        img{
            width: 30%;
            margin: 0 20px;
        }
    }    
    h2{
        margin: 40px;
        color: red;
        text-transform: uppercase;
        font-size: 3rem;
    }
}






@media (max-width:900px) {
    .marcas{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        align-items: center;
        img{
            width: 60%;
        }

        h2{
            margin: auto;
            font-size: 2rem;
        }
        .marcas_1,.marcas_2{
            width: 40%;
        }
    }
}
