@import "variables";
@import "nosotros";
@import "productos";
@import "clientes";
@import "contacto";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuenteprincipal;
}
//****texto navbar*****



.index {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    container-fluid{
        margin-top: 30px;
        width: 100%;

    }
}

.titulo {
    text-decoration: none;
    color: $colorrojo;
    margin: 6px; 
}

.navbar-nav a{
    color:$colorrojo;
    &:hover{
        color: $colorhover;
    }
};
//***************sector imagen y presentacion de la web**************


.marca_texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
} 

.airmax{
    margin-top:-60px;
    margin-left: 5px;
    font-size: 4.1rem;
    position: absolute;
    z-index: 1;
    
}

#super{
    font-size: 1.5rem;
    position: absolute;
    color:$colorrojo;
    z-index: 2;
    font-style: italic;
    margin-top:-5px;
    margin-left: 30px;
}

.marca_texto p{
    position: relative;
    font-size: 0.5rem;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    z-index: 2;
} 

.imagen{
    position: relative;
    width: 100%;
    left: -5px;
    margin-top:100px ;
    z-index: 0;
}

@media (min-width:765px) {
    .airmax{
        color: $colortablet;
        margin-top: 60px;
        margin-left: 100px;
        font-size: 4em;
        display: flex;
        
    }
    #super{
        font-size: 3rem;
        position: absolute;
        color: $colorrojo;
        display: flex;
        z-index: 2;
        font-style: italic;
        margin-top: 100px;
        margin-left: 100px;
        width: 20%;
        
    }
    .marca_texto p{
        position: relative;
        font-size: 0.1rem;
        display: flex;
        margin-top: 250px;
        margin-left: 90px;
        z-index: 2;
    }
    .separacion{
        font-size: 50px;
    }
    .imagen{
        width: 100%;
        left: 10%;
        top: 20px;
    }
} 
 
@media (min-width:1005px) {
    .airmax{
        color: $colortablet;
        margin-top: 60px;
        margin-left: 100px;
        font-size: 6em;
        display: flex;
        
    }
    #super{
        font-size: 4rem;
        position: absolute;
        color:$colorrojo;
        display: flex;
        z-index: 2;
        font-style: italic;
        margin-top: 120px;
        margin-left: 140px;
        width: 20%;
        
    }
    .imagen{
        position: relative;
        width: 70%;
        margin-left: 20%;
        margin-top:-20px ;
        z-index: 0;
    } 
} 

//*************whatsapp************** */
.enlace_whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 8;


    .logo_whatsapp{
        width: 50px;
    }
}
// *************separacion********** */
.separacion{
    margin-top:5% ;
    text-align: center;
    font-size: 3rem;
    color: black;
    text-shadow: $sombrastextos;

}
//**************card*************
.mas_vendidos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 15px;
 
};
.card{
    @include alineacion-column-centrado;
    margin-top: 10px;
    .card-img-top{
        width: 80%;
        @include alineacion-column-centrado;
        justify-content: center;
    };
};



//****************galery**************

.container{
    padding: 75px 0;
    @include alineacion-column-centrado;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;

    p{
        margin: 20px;
        text-transform: uppercase; 
    }
    h2{
        position: relative;
        margin-bottom: 45px;
        /* font-family: 'Oswald', sans-serif; */
        font-size: 44px;
        text-transform: uppercase;
        color: #424242;
        text-align: center; 
    }

}
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80vh;

    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
    } 

}
.item-1 { 
    background-image: url("../img/galleria1.jpg");
    &:hover{
        flex: 8;
    }
}
.item-2 { 
    background-image: url("../img/galeria2.jpg");
    &:hover{
        flex: 8;
    }
}
.item-3 { 
    background-image: url("../img/galleria3.jpg");
    &:hover{
        flex: 8;
    }
}
@media (max-width:480px) {
    .gallery-wrap{
        margin-left: 5px;
        display: flex;
        flex-direction: column;
    }
}
//*******footer***********

.footer{
    padding: 40px ;

    h3{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    };
    p{
        text-align: center;  
    };
}
.iconos_footer{
    @include alineacion-column-centrado;
    justify-content: center;
    img{
        width: 50px;
        margin-left: 20px;

    }
}
